{% include header.html %}
<header>
<a href='/'>
<h1>&pi;<sup>6</sup></h1>
</a>
</header>
{% include post.html   %}
{{ content | remove:"id='perl_6_specification'" | remove:"id='stdpm6'" | remove:"id='rakudo_perl'" | remove:"id='niecza_perl'" | replace:"src='","src='img/" | replace:'<h3','<h1' | replace:'<h4','<h2' | replace:'</h3','</h1' | replace:'</h4','</h2' | replace:'<code','<code class="prettyprint"' }}
<hr>

<script>
// I know that you shouldn't use document.write() because certain
// people say it breaks standards. But practicality beats purity.
// And it allows me to put Disqus (which surely breaks standards
// more than I in browsers with enabled JavaScript).
document.write(
    '<div class=disqus><p>To put code, use <code>&lt;pre&gt;&lt;/pre&gt;'
    + '<\/code> tags and indent using spaces (you may want to use text '
    + 'editor for that).<div id=disqus_thread><\/div>'
    + '<script src="http://pi6.disqus.com/embed.js" async><\/script>'
    + '<\/div>'
)
</script>
</article>
{% include footer.html %}
